@charset "UTF-8";

/*Versão Mobile First*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    background-color: lightgray;
}

header {
    background-color: darkgrey;
}

header > h1 {
    padding: 10px;
    text-align: center;
}

span#burguer {
    background-color: gray;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer; /*Cursor de mãozinha*/
}

span#burguer:hover {
    background-color: white;
    color: black;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: grey;
    color: white;
    border-top: 2px solid darkgray
}
menu > ul > li > a:hover {
    background-color: rgb(150, 147, 147);
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;
    padding: 10px;
    border-radius: 10px;
}

article > h2 {
    padding-bottom: 20px;
    text-align: center;
}

article > p {
    text-align: justify;
    margin: 20px;
    text-indent: 20px;
    line-height: 1.5;
    
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    /*Aqui eu fixo o rodapé embaixo, mesmo sem muito conteúdo no main*/
    position: fixed;
    bottom: 0;
    width: 100vw;
}

footer > p {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: -60px;
    
}

footer > p > a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

footer > p > a:hover {
    text-decoration: underline;
}